<div class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="title split-collab">Services</h1>
                    <ul class="page-list">
                        <li class="tmp-breadcrumb-item"><a [routerLink]="['/Home']">Home</a></li>
                        <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                        <li class="tmp-breadcrumb-item active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tpm Blog and news Area Start -->
<section class="blog-and-news-are ">
    <div class="container">
        <div class="section-head mb--60">
            <!-- <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                <span class="subtitle">Blog and news</span>
            </div> -->
            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">The basic services provided
                by me</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card tmp-hover-link image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-1">
                    <div class="img-box">
                        <a href="blog-details.html">
                            <img class="w-100" src="assets/images/blog/webdevelopment.jpg" alt="Blog Thumbnail">
                        </a>
                        <!-- <ul class="blog-tags">
                            <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                            <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                        </ul> -->
                    </div>
                    <div class="blog-content-wrap">
                        <div class="more-btn">
                            <h6 class="read-more-btn">Building websites and web applications with user interfaces,
                                front-end and back-end functionalities. Ensure seamless interaction between users and
                                web applications through modern development practices and technologies.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card tmp-hover-link image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-2">
                    <div class="img-box">
                        <a href="blog-details.html">
                            <img class="w-90" src="assets/images/blog/mobileappdevelopment.jpg" alt="Blog Thumbnail">
                        </a>

                    </div>
                    <div class="blog-content-wrap">
                        <div class="more-btn">
                            <h6 class="read-more-btn">Developing mobile apps for iOS and Android platforms using
                                cross-platform frameworks. Building apps with React Native, Flutter, and Ionic to create
                                seamless experiences across multiple devices.</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-card tmp-hover-link image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-3">
                    <div class="img-box">
                        <a href="blog-details.html">
                            <img class="w-100" src="assets/images/blog/software.jpg" alt="Blog Thumbnail">
                        </a>

                    </div>
                    <div class="blog-content-wrap">
                        <div class="more-btn">
                            <h6 class="read-more-btn">Writing code and building software applications according to
                                specifications. Selecting the right programming languages, frameworks, and tools to
                                create functional and efficient solutions for clients and stakeholders.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Tpm Blog and news Area End -->