<!-- tpm-header-area start -->


<h1 style="display:none;">Varma Pradeep – Full Stack Angular Developer Portfolio</h1>
<header class="tmp-header-area-start header-one header--sticky header--transparent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-content">
                    <div class="logo">
                        <a [routerLink]="'Home'">
                            <img class="logo-dark" src="assets/images/logo/black.png" alt="Logo">
                            <img class="logo-white" src="assets/images/logo/white.png" alt="Logo">
                        </a>
                    </div>
                    <nav class="tmp-mainmenu-nav d-none d-xl-block">
                        <ul class="tmp-mainmenu">
                            <li>
                                <a [routerLink]="['/Home']">Home
                                </a>

                            </li>
                            <li>
                                <a [routerLink]="['/AboutMe']">About</a>
                            </li>
                            <!-- <li>
                                <a [routerLink]="['/Portfolio']">Portfolio</a>
                            </li> -->
                            <li>
                                <a [routerLink]="['/Service']">Service</a>
                            </li>
                            <!-- <li class="has-dropdown">
                                <a href="#">Services
                                    <i class="fa-regular fa-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="service-details.html">Service Details</a></li>
                                </ul>
                            </li> -->

                            <!-- <li class="has-dropdown">
                                <a href="#">Project
                                    <i class="fa-regular fa-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <li><a href="project.html">Project</a></li>
                                    <li><a href="project-details.html">Project Details</a></li>
                                </ul>
                            </li> -->
                            <li>
                                <a [routerLink]="['/Contact']">Contact</a>
                            </li>
                        </ul>

                    </nav>
                    <div class="tmp-header-right">
                        <div class="social-share-wrapper d-none d-md-block">
                            <div class="social-link ">
                                <a href="https://www.instagram.com/3_wheel_walker" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/varma-pradeep/" target="_blank"><i
                                        class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://twitter.com/VARMAPRADEEPVP" target="_blank"><svg
                                        xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512">
                                        <path fill="#ffffff"
                                            d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                                    </svg></a>

                                <a href="https://www.facebook.com/varma.pradeep.73" target="_blank"><i
                                        class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://github.com/varmapradeep" target="_blank"><i
                                        class="fa-brands fa-github"></i></a>
                                <a href="https://api.whatsapp.com/send?phone=919061497342&text=HI%F0%9F%91%8B%F0%9F%91%8B"
                                    target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                        <div class="actions-area">
                            <div class="tmp-side-collups-area d-none d-xl-block">
                                <button class="contact-button" (click)="openCoffee()">
                                    <i class="fa-regular fa-coffee"></i>
                                    <span>BUY ME A COFFEE</span>
                                </button>
                            </div>

                            <!-- Hamburger for mobile -->
                            <div class="tmp-side-collups-area d-block d-xl-none">
                                <button class="tmp-menu-bars humberger_menu_active" (click)="openMobileMenu()">
                                    <i class="fa-regular fa-bars-staggered"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- tpm-header-area end -->

<!-- Mobile menu -->
<div class="d-block d-xl-none">
    <div class="tmp-popup-mobile-menu" [class.active]="mobileMenuOpen">
        <div class="inner">
            <div class="header-top">
                <div class="logo">
                    <a [routerLink]="'Home'" (click)="closeMobileMenu()" class="logo-area">
                        <img class="logo-dark" src="assets/images/logo/black.png" alt="Logo"
                            style="min-width: 180px !important;">
                        <img class="logo-white" src="assets/images/logo/white.png" alt="Logo">
                    </a>
                </div>
                <div class="close-menu">
                    <button class="close-button tmp-round-action-btn" (click)="closeMobileMenu()">
                        <i class="fa-sharp fa-light fa-xmark"></i>
                    </button>
                </div>
            </div>
            <ul class="tmp-mainmenu">
                <li>
                    <a [routerLink]="['/Home']" (click)="closeMobileMenu()">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/AboutMe']" (click)="closeMobileMenu()">About</a>
                </li>
                <!-- <li class="has-dropdown">
                    <a href="#" (click)="toggleMobileDropdown(0); $event.preventDefault()">
                        Services <i class="fa-regular fa-chevron-down"></i>
                    </a>
                    <ul class="submenu" [style.display]="mobileDropdownOpen[0] ? 'block' : 'none'">
                        <li><a href="service.html">Service</a></li>
                        <li><a href="service-details.html">Service Details</a></li>
                    </ul>
                </li> -->

                <!-- <li class="has-dropdown">
                    <a href="#" (click)="toggleMobileDropdown(2); $event.preventDefault()">
                        Project <i class="fa-regular fa-chevron-down"></i>
                    </a>
                    <ul class="submenu" [style.display]="mobileDropdownOpen[2] ? 'block' : 'none'">
                        <li><a href="project.html">Project</a></li>
                        <li><a href="project-details.html">Project Details</a></li>
                    </ul>
                </li> -->
                <!-- <li>
                    <a [routerLink]="['/Portfolio']">Portfolio</a>
                </li> -->
                <li>
                    <a [routerLink]="['/Service']" (click)="closeMobileMenu()">Service</a>
                </li>
                <li>
                    <a [routerLink]="['/Contact']" (click)="closeMobileMenu()">Contact</a>
                </li>
            </ul>
            <div class="social-wrapper mt--40">
                <span class="subtitle">find with me</span>
                <div class="social-link">
                    <a href="https://www.instagram.com/3_wheel_walker" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/varma-pradeep/" target="_blank"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://twitter.com/VARMAPRADEEPVP" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                            height="14" width="14"
                            viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                            <path fill="#ffffff"
                                d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                        </svg></a>

                    <a href="https://www.facebook.com/varma.pradeep.73" target="_blank"><i
                            class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://github.com/varmapradeep" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=919061497342&text=HI%F0%9F%91%8B%F0%9F%91%8B"
                        target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <button class="contact-button mt-2" (click)="openCoffee()">
                    <i class="fa-regular fa-coffee"></i>
                    <span>BUY ME A COFFEE</span>
                </button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<!-- Start Footer Area  -->
<footer class="footer-area footer-style-two-wrapper bg-color-footer bg_images tmp-section-gap">
    <div class="container">
        <div class="footer-main footer-style-two">
            <div class="row g-5">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-wrapper border-right mr--20">
                        <div class="logo">
                            <a [routerLink]="'Home'">
                                <img class="logo-dark" src="assets/images/logo/black.png" alt="Logo"
                                    style="max-width: 220px !important;">
                                <img class="logo-white" src="assets/images/logo/white.png" alt="Logo"
                                    style="max-width: 220px !important;">
                            </a>
                        </div>
                        <p class="description">A comprehensive personal portfolio platform designed to showcase
                            professional skills, creative projects, and technical expertise with an elegant and modern
                            interface.</p>
                        <div class="social-link">
                            <a href="https://www.instagram.com/3_wheel_walker" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/varma-pradeep/" target="_blank"><i
                                    class="fa-brands fa-linkedin-in"></i></a>

                            <a href="https://www.facebook.com/varma.pradeep.73" target="_blank"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://github.com/varmapradeep" target="_blank"><i
                                    class="fa-brands fa-github"></i></a>
                            <a href="https://api.whatsapp.com/send?phone=919061497342&text=HI%F0%9F%91%8B%F0%9F%91%8B"
                                target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="quick-link-wrap">
                        <h5 class="ft-title">Quick Link</h5>
                        <ul class="ft-link tmp-scroll-trigger animation-order-1 tmp-link-animation">
                            <li>
                                <a [routerLink]="['/AboutMe']">About Me</a>
                            </li>

                            <li>
                                <a [routerLink]="['/Portfolio']">Portfolio</a>
                            </li>
                            <li>
                                <a [routerLink]="['/Service']">Service</a>
                            </li>
                            <li>
                                <a [routerLink]="['/Contact']">Contact Us</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-wrapper contact-wrap">
                        <h5 class="ft-title">Contact </h5>
                        <ul class="ft-link tmp-scroll-trigger animation-order-1 tmp-link-animation">
                            <li><span class="ft-icon"><i class="fa-solid fa-phone"></i></span><a
                                    href="tel:9061497342">9061497342
                                </a></li>
                            <li><span class="ft-icon"><i class="fa-solid fa-location-dot"></i></span>Idukki,Kerala </li>
                            <li><span class="ft-icon"><i class="fa-solid fa-envelope"></i></span><a
                                    href="mailto:varmapradeepvp@gmail.com">{{email}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="map-area tmp-scroll-trigger animation-order-1">
                        <h3 class="title">Location</h3>
                        <div class="mapouter">
                            <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0"
                                    scrolling="no" marginheight="0" marginwidth="0"
                                    src="https://maps.google.com/maps?width=600&amp;height=291&amp;hl=en&amp;q=kiliyarukandam&amp;t=p&amp;z=10&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
                                    href="https://embed-googlemap.com">google maps embed</a></div>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    width: 100%;
                                    height: 291px;
                                }

                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    width: 100%;
                                    height: 291px;
                                }

                                .gmap_iframe {
                                    height: 291px !important;
                                }
                            </style>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<div class="copyright-area-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-wrapper tmp-scroll-trigger animation-order-1">
                    <p class="copy-right-para">
                        Designed By
                        <a style="font-family: papyrus;" href="https://www.instagram.com/3_wheel_walker"
                            target="_blank">
                            <b>Keralavarma</b>
                        </a>
                        © {{ currentYear }} | All Rights Reserved
                    </p>

                    <ul class="tmp-link-animation">
                        <li><a routerLink="/terms">Terms & Conditions</a></li>
                        <li><a routerLink="/privacy">Privacy Policy</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Footer Area  -->


<!-- Custom Chatbot -->
<div class="ready-chatting-option tmp-ready-chat">
    <input type="checkbox" id="click">
    <label for="click">
        <i class="fab fa-android" style="color: #ffffff;"></i>
        <i class="fas fa-times" style="color: #ffffff;"></i>
    </label>
    <div class="wrapper chatbot-wrapper">
        <div class="chatbot-header">
            <div class="header-content">
                <h3>Chat Assistant</h3>
                <p><span class="online-indicator"></span>Online</p>
            </div>

        </div>

        <div class="chatbot-body">
            <!-- Messages Container -->
            <div class="chat-messages-container">
                <!-- Bot Welcome Message - Always show -->
                <div class="chat-message bot">
                    <div class="bot-avatar">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="message-wrapper">
                        <div class="message-content">
                            Hi! 👋 Ask me anything about my services and expertise. Select a question below:
                        </div>
                    </div>
                </div>

                <!-- Questions Grid - Show only on initial state -->
                <div *ngIf="chatMessages.length === 0" class="questions-container initial-state">
                    <button *ngFor="let qa of predefinedQuestions" (click)="selectQuestion(qa)" class="question-btn">
                        {{ qa.question }}
                    </button>
                </div>

                <!-- User & Bot Messages - Show after questions selected -->
                <div *ngFor="let msg of chatMessages" [ngClass]="'chat-message ' + msg.type">
                    <div *ngIf="msg.type === 'bot'" class="bot-avatar">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="message-wrapper">
                        <div class="message-content">
                            {{ msg.message }}
                        </div>
                    </div>
                </div>

                <!-- Questions Grid - Show after conversation for follow-up -->
                <div *ngIf="chatMessages.length > 0" class="questions-container followup-state">
                    <button *ngFor="let qa of predefinedQuestions" (click)="selectQuestion(qa)" class="question-btn">
                        {{ qa.question }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ready chatting option via email end -->
<!-- progress area start -->
<div class="scrollToTop" style="display: block;">
    <div class="arrowUp">
        <i class="fa-light fa-arrow-up"></i>
    </div>
    <div class="water" style="transform: translate(0px, 87%);">
        <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
            <use xlink:href="#wave"></use>
        </svg>
        <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
            <use xlink:href="#wave"></use>
        </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 560 20" style="display: none;">
            <symbol id="wave">
                <path
                    d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"
                    fill="#"></path>
                <path
                    d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"
                    fill="#"></path>
                <path
                    d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"
                    fill="#"></path>
                <path
                    d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"
                    fill="#"></path>
            </symbol>
        </svg>

    </div>
</div>
<!-- progress area end -->
<!-- <div class="tmp-right-demo">
    <button class="demo-button">
        <p class="mb--0">48</p>
        <span class="text">Demos</span>
    </button>
</div> -->
<!-- <div class="loader"></div> -->