<!-- tmp banner area start -->
<h1 style="display:none;">Varma Pradeep – Full Stack Angular Developer Portfolio</h1>

<div class="rpp-banner-two-area">
    <div class="container">
        <div class="banner-two-main-wrapper">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="banner-right-content">
                        <div class="main-img">
                            <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1"
                                src="assets/images/banner/me.png" alt="banner-img">
                            <h2 class="banner-big-text-1 up-down-2">Developer</h2>
                            <h2 class="banner-big-text-2 up-down">Developer</h2>
                            <div class="benner-two-bg-red-img">
                                <img src="assets/images/banner/banner-user-image-two-red-bg.png" alt="red-img">
                            </div>
                            <div class="logo-under-img-wrap">
                                <div class="logo-under-img">
                                    <img src="assets/images/banner/banner-four-right-bg-img.png" alt="logo-under-image">
                                </div>
                                <div class="logo-under-img-2">
                                    <img src="assets/images/banner/logo-under-image-2.png" alt="logo-under-image">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1 mt--100">
                    <div class="inner">
                        <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">I am</span>
                        <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-2">
                            Varma Pradeep, a Full Stack <br>
                            <span class="header-caption">
                                <span class="cd-headline clip is-full-width">
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible theme-gradient">Web Designer</b>
                                        <b class="is-hidden theme-gradient">Web Developer</b>
                                        <b class="is-hidden theme-gradient">UI/UX Designer</b>
                                        <b class="is-hidden theme-gradient">Freelancer</b>
                                        <!-- <b class="is-hidden theme-gradient">Content Writer</b> -->
                                    </span>
                                </span>
                            </span>
                        </h1>
                        <p class="disc tmp-scroll-trigger tmp-title-split tmp-fade-in animation-order-3"> Welcome to my
                            personal
                            <span> portfolio </span> — a showcase of my journey as a
                            <span>Web Designer & Developer</span> blending creative design with powerful code to build
                            user-focused digital experiences.

                        </p>

                        <div class="button-area-banner-two tmp-scroll-trigger tmp-fade-in animation-order-4">

                            <a class="tmp-btn hover-icon-reverse radius-round" href="assets/biodata/varma-pradeep.pdf"
                                download>
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">Download Resume</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-solid fa-download"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-solid fa-download"></i></span>
                                </span>
                            </a>
                        </div>
                        <div class="find-me-on tmp-scroll-trigger tmp-fade-in animation-order-5">
                            <h2 class="find-me-on-title">Find me on</h2>
                            <div class="social-link banner">
                                <a href="https://www.instagram.com/3_wheel_walker" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/varma-pradeep/" target="_blank"><i
                                        class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://twitter.com/VARMAPRADEEPVP" target="_blank"><svg
                                        xmlns="http://www.w3.org/2000/svg" height="14" width="14"
                                        viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#ffffff"
                                            d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                                    </svg></a>
                                <a href="https://www.facebook.com/varma.pradeep.73" target="_blank"><i
                                        class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://github.com/varmapradeep" target="_blank"><i
                                        class="fa-brands fa-github"></i></a>
                                <a href="https://api.whatsapp.com/send?phone=919061497342&text=HI%F0%9F%91%8B%F0%9F%91%8B"
                                    target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="banner-shape-two">
        <img src="assets/images/banner/banner-shape-two.png" alt="">
    </div>
</div>
<!-- tmp banner area end -->

<!-- tmp text para start -->
<div class="about-content-area">
    <div class="container tmp-section-gap">
        <div class="text-para-doc-wrap">
            <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in inv-title-animation-wrap animation-order-1">
                Hi, I'm a Web Designer & Developer based in kerala.I have been working as a
                web designer and front-end developer since 2019. I’ve always been someone who has both a creative and a
                logical side. When I discovered web design in college, I realized it would be the perfect fit. I could
                use my creative side to design and my logical side to code. As a bonus, being both designer and
                developer allows me to make sure no detail is lost in translation.
            </h2>
            <!-- <div class="right-bg-text-para">
                <img src="assets/images/banner/right-bg-text-para-doc.png" alt="">
            </div>
            <div class="left-bg-text-para">
                <img src="assets/images/banner/left-bg-text-para-doc.png" alt="">
            </div> -->
        </div>
    </div>
</div>
<!-- tmp text para end -->

<!-- tmp About Me Start -->
<section class="about-us-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-us-left-content-wrap bg-vactor-one">
                    <div class="years-of-experience-card tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <h2 class="counter card-title"><span class="odometer" data-count="3">00</span>+
                        </h2>
                        <p class="card-para">years of experience</p>
                    </div>
                    <div class="design-card tmp-scroll-trigger tmp-fade-in animation-order-2">
                        <div class="design-card-img">
                            <div class="icon"><i class="fa-sharp fa-thin fa-lock"></i></div>
                        </div>
                        <div class="card-info">
                            <h3 class="card-title">Web Developer</h3>
                            <p class="card-para">60+ Projects</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-us-right-content-wrap">
                    <div class="section-head text-align-left mb--50">
                        <div class="section-sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <span class="subtitle">About Me</span>
                        </div>
                        <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Your Vision, My
                            Code</h2>
                        <p class="description tmp-scroll-trigger tmp-fade-in animation-order-3 mb-2">I don't just create
                            websites—I build experiences. With a strong foundation in HTML, CSS, JavaScript, Angular,
                            and React, I bring life to pixel-perfect UI designs while ensuring speed, scalability, and
                            usability across all devices.</p>

                    </div>
                    <div class="about-us-section-card row g-5">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                                <div class="card-head">
                                    <div class="logo-img">
                                        <img src="assets/images/about/logo-1.svg" alt="logo">
                                    </div>
                                    <h3 class="card-title">Business Solutions</h3>
                                </div>
                                <p class="card-para">Each one showcases my approach and dedication to detail,
                                    creativity
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="about-us-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-5">
                                <div class="card-head">
                                    <div class="logo-img">
                                        <img src="assets/images/about/logo-2.svg" alt="logo">
                                    </div>
                                    <h3 class="card-title">Profit Partners</h3>
                                </div>
                                <p class="card-para">Our business consulting services provide expert guidance to help
                                    companies grow and succeed.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="about-btn mt--40 tmp-scroll-trigger tmp-fade-in animation-order-6">
                        <a class="tmp-btn hover-icon-reverse radius-round" [routerLink]="['/AboutMe']">
                            <span class="icon-reverse-wrapper">
                                <span class="btn-text">Read More About Me</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tmp About Me end -->

<section class="career-roadmap-section tmp-section-gapTop" id="roadmap-section">
    <div class="container">
        <div class="section-header text-center mb-5 tmp-scroll-trigger tmp-fade-in animation-order-1">
            <h2 class="section-title"><i class="fa-solid fa-road mr--10"></i> My Career Roadmap</h2>
            <p class="para">From foundational education to professional experience</p>
        </div>

        <div class="timeline roadmap">
            <!-- Education Entries -->
            <div class="timeline-block left tmp-scroll-trigger  tmp-fade-in animation-order-1">
                <div class="marker"><i class="fa-solid fa-code"></i></div>
                <div class="timeline-content tmponhover">
                    <span class="time">2025 - Present</span>
                    <!-- /* <h5 class="title "><mark class="scribble">Jr. Software Engineer</mark></h5> */ -->
                    <h5 class="title mb-0">Jr. Software Engineer</h5>
                    <p class="institute mb-2">JTSi Technologies India Pvt. Ltd</p>
                    <!-- <div class="container rounded p-3 mt-3">
                        <h6 class="fw-bold mb-3 small">Roles & Responsibilities</h6>
                        <p class="mb-2 small">• Working in a product-based ERP development environment focusing on
                            enterprise-level applications.</p>
                        <p class="mb-2 small">• Contributed to the enhancement of existing modules by identifying bugs,
                            troubleshooting issues, and implementing stable solutions.</p>
                        <p class="mb-2 small">• Developed and integrated new features to meet dynamic client requirements
                            and improve overall system performance.</p>
                        <p class="mb-2">• Proactively analyzed user-reported issues and internal QA feedback to
                            determine root causes and apply long-term fixes.</p>
                        <p class="mb-2">• Utilized Angular for front-end development, .NET for back-end services,
                            and SQL Server for data management and reporting.</p>
                        <p class="mb-0">• Collaborated with cross-functional teams to ensure timely delivery of
                            high-quality updates and new product releases.</p>
                    </div> -->
                </div>
            </div>

            <div class="timeline-block right tmp-scroll-trigger tmp-fade-in animation-order-2">
                <div class="marker"><i class="fa-solid fa-code"></i></div>
                <div class="timeline-content tmponhover">
                    <span class="time">2023 - 2025</span>
                    <h5 class="title mb-0">Jr. Software Developer</h5>
                    <p class="institute mb-2">Santhisoft Technologies, Vazhithala Thodupuzha</p>
                </div>
            </div>

            <div class="timeline-block left tmp-scroll-trigger tmp-fade-in animation-order-3">
                <div class="marker"><i class="fa-regular fa-graduation-cap"></i></div>
                <div class="timeline-content tmponhover">
                    <span class="time">2021 - 2023</span>
                    <h5 class="title mb-0">Master of Computer Application (MCA)</h5>
                    <p class="institute mb-2">Santhigiri College of Computer Science Thodupuzha</p>
                </div>
            </div>

            <div class="timeline-block right tmp-scroll-trigger tmp-fade-in animation-order-4">
                <div class="marker"><i class="fa-regular fa-graduation-cap"></i></div>
                <div class="timeline-content tmponhover">
                    <span class="time">2018 - 2021</span>
                    <h5 class="title mb-0">Bachelor of Computer Applications (BCA)</h5>
                    <p class="institute mb-2">Mar Sleeva College of Art and Science Murickassery</p>
                </div>
            </div>

            <!-- Experience Entries -->
            <div class="timeline-block left tmp-scroll-trigger tmp-fade-in animation-order-5">
                <div class="marker"><i class="fa-regular fa-graduation-cap"></i></div>
                <div class="timeline-content tmponhover">
                    <span class="time">2016 - 2018</span>
                    <h5 class="title mb-0">Higher Secondary</h5>
                    <p class="institute mb-2">Govt,HSS Pathinaramkandam</p>
                </div>
            </div>

            <div class="timeline-block right tmp-scroll-trigger tmp-fade-in animation-order-6">
                <div class="marker"><i class="fa-regular fa-graduation-cap"></i></div>
                <div class="timeline-content tmponhover">
                    <span class="time">2015</span>
                    <h5 class="title mb-0">High School (SSLC)</h5>
                    <p class="institute mb-2">Cresent higher secondary school Adakkakaundu</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- tmp skill area start -->
<div class="tmp-skill-area tmp-section-gapTop">
    <div class="container mb-2">
        <div class="section-header text-center mb-5 tmp-scroll-trigger tmp-fade-in animation-order-1">
            <h2 class="section-title mb-2"><i class="fa-solid fa-gears mr--10"></i> Development Skill</h2>
            <p class="para">Skills Developed Through my Experience</p>

        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="progress-wrapper">
                    <h2 class="custom-title mb--30 tmp-scroll-trigger tmp-fade-in animation-order-1">
                        Frontend Technologies and Frameworks
                        <!-- <span><img src="assets/images/custom-line/custom-line.png"
                                    alt="custom-line"></span> -->
                    </h2>
                    <div class="content">
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Angular Js</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s"
                                    role="progressbar"
                                    style="width: 100%; visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">100%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                React Js</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s"
                                    role="progressbar"
                                    style="width: 95%; visibility: visible; animation-duration: 0.6s; animation-delay: 0.4s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">95%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Html / Css</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s"
                                    role="progressbar"
                                    style="width: 60%; visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">60%</span>
                                </div>
                            </div>
                        </div>

                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Javascript </h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s"
                                    role="progressbar"
                                    style="width: 70%; visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">70%</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="custom-title mb--30 tmp-scroll-trigger tmp-fade-in animation-order-1"> Backend Technologies
                    and Frameworks</h2>
                <div class="progress-wrapper">
                    <div class="content">
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Python (Django)</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s"
                                    role="progressbar"
                                    style="width: 100%; visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">100%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                .NET</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s"
                                    role="progressbar"
                                    style="width: 95%; visibility: visible; animation-duration: 0.6s; animation-delay: 0.4s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">95%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Node.js</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s"
                                    role="progressbar"
                                    style="width: 60%; visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">60%</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                PHP</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s"
                                    role="progressbar"
                                    style="width: 70%; visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">70%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="custom-title mb--30 tmp-scroll-trigger tmp-fade-in animation-order-1">Databases and Other
                    <br>Skills
                </h2>
                <div class="progress-wrapper">
                    <div class="content">
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                MySQL/MongoDB </h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s"
                                    role="progressbar"
                                    style="width: 100%; visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">100%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Git/TortoiseSVN</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s"
                                    role="progressbar"
                                    style="width: 95%; visibility: visible; animation-duration: 0.6s; animation-delay: 0.4s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">95%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Express.js (Node.js)</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s"
                                    role="progressbar"
                                    style="width: 60%; visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">60%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="heading heading-h6">
                                Wordpress</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s"
                                    role="progressbar"
                                    style="width: 70%; visibility: visible; animation-duration: 0.8s; animation-delay: 0.6s; animation-name: fadeInLeft;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">70%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>