@media (min-width: 576px) {
    .text-para-doc-wrap .text-para-documents {
        font-size: 25px;
        line-height: 1.25;
    }
}

.tmponhover::after {
    background: #00000045 !important;

}


.timeline {
    position: relative;
    padding: 2rem 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 3px;
    background: #ff014f;
    transform: translateX(-50%);
}

.timeline-block {
    position: relative;
    width: 50%;
    padding: 2rem 2rem;
    box-sizing: border-box;
}

.timeline-block.left {
    left: 0;
    text-align: center;
}

.timeline-block.right {
    left: 50%;
    text-align: center;
}

.timeline-content {
    background: #86747442;
    padding: 1.2rem;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
    position: relative;
}

.marker {
    width: 30px;
    height: 30px;
    background: #ff014f;
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    z-index: 1;
}



@media screen and (max-width: 768px) {
    .timeline::before {
        left: 10px;
    }

    .timeline-block {
        width: 100%;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .timeline-block.left,
    .timeline-block.right {
        left: 0;
        text-align: left;
    }

    .timeline-block.left .timeline-content,
    .timeline-block.right .timeline-content {
        margin: 0 0 20px 40px;
    }

    .marker {
        left: 0;
        transform: translate(0, -50%);
    }
}